{% extends "base.html" %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>File name</th>
            <th>File type</th>
            <th>File size</th>
            <th>Messages</th>
            <th>Date added</th>
        </tr>
    </thead>
    <tbody>
        {% for file in files %}
        <tr>
            <td><a href="{{base_path}}/file/{{file.id}}">{{file.name}}</a></td>
            <td>{{file.type}}</td>
            <td>{{file.prettySize()}}</td>
            <td>{{file.messageCount()}}</td>
            <td>{{file.prettySubmitTime()}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
