{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <strong>Filename</strong>
        </div>
        <div class="col-sm-9">
            <a href="http://ttiira.users.cs.helsinki.fi/files/{{file.path}}">{{file.name}}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Size</strong>
        </div>
        <div class="col-sm-9">
            {{file.size}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Filetype</strong>
        </div>
        <div class="col-sm-9">
            {{file.type}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Uploader</strong>
        </div>
        <div class="col-sm-9">
            {{file.author.name}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Time submitted</strong>
        </div>
        <div class="col-sm-9">
            {{file.submitTime}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Tags</strong>
        </div>
        <div class="col-sm-9">
            <ul class="list-inline">
            {% for tag in file.tags() %}
                <li> <a href="{{base_path}}/tag/{{tag.id}}">{{tag.name}}</a> </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Description</strong>
        </div>
        <div class="col-sm-9">
            <p>{{file.description}}</p>
        </div>
    </div>
    <a href="{{base_path}}/editfile/{{file.id}}" class="btn btn-default">Edit</a>
    <button class="btn btn-danger">Delete</button>
</div>


<div class="messages-container container-fluid">
    {% for message in file.messages()%}
        
    <div class="message row">
        <div class="col-sm-2">
            <strong>{{message.author.name}}</strong>
            {{message.submitTime}}
        </div>

        <div class="col-sm-9">
            {{message.body}}
        </div>
        <div class="col-sm-1">
            <a href="{{base_path}}/editmessage/{{message.id}}" class="btn btn-default">Edit</a>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
