{% extends "base.html" %}
{% import "macro/fileDataItem.html" as dataItem %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <strong>Filename</strong>
        </div>
        <div class="col-sm-9">
            <a href="{{file.path}}">{{file.name}}</a>
        </div>
    </div>
    {{dataItem.fileDataItem("Size", "#{file.size}")}}
    {{dataItem.fileDataItem("Filetype", "#{file.type}")}}
    {{dataItem.fileDataItem("Uploader", "#{file.author.name}")}}
    {{dataItem.fileDataItem("Time submitted", "#{file.submitTime}")}}
    <div class="row">
        <div class="col-sm-3">
            <strong>Tags</strong>
        </div>
        <div class="col-sm-9">
            <ul class="list-inline">
                {% for tag in file.tags() %}
                <li> <a href="{{base_path}}/tag/{{tag.id}}">{{tag.name}}</a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{dataItem.fileDataItem("Description", "#{file.description}")}}
    <a href="{{base_path}}/file/{{file.id}}/edit" class="btn btn-default">Edit</a>
    <a href="{{base_path}}/file/{{file.id}}/destroy" class="btn btn-danger">Delete</a>
</div>


<div class="messages-container container-fluid">
    {% for message in file.messages()%}

    <div class="message row">
        <div class="col-sm-2">
            <strong>{{message.author.name}}</strong>
            {{message.submitTime}}
        </div>
        <div class="col-sm-9">
            {{message.body}}
        </div>
        <div class="col-sm-1">
            <a href="{{base_path}}/message/{{message.id}}/edit" class="btn btn-default">Edit</a>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
