{% extends "base.html" %}
{% import "macro/fileDataItem.html" as dataItem %}
{% block content %}
{%for origin in errors%}
{%for error in origin%}
<div class="alert alert-danger">
    {{error}}
</div>
{%endfor%}
{%endfor%}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <strong>Filename</strong>
        </div>
        <div class="col-sm-9">
            <a href="/{{file.path}}">{{file.name}}</a>
        </div>
    </div>
    {{dataItem.fileDataItem("Size", "#{file.prettySize()}")}}
    {{dataItem.fileDataItem("Filetype", "#{file.type}")}}
    {{dataItem.fileDataItem("Uploader", "#{file.author.name}")}}
    {{dataItem.fileDataItem("Time submitted", "#{file.prettySubmitTime()}")}}
    <div class="row">
        <div class="col-sm-3">
            <strong>Tags</strong>
        </div>
        <div class="col-sm-9">
            <ul class="list-inline">
                {% for tag in file.tags() %}
                <li> <a href="{{base_path}}/tag/{{tag.id}}">{{tag.name}}</a> </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {{dataItem.fileDataItem("Description", "#{file.description}")}}
    <a href="{{base_path}}/file/{{file.id}}/edit" class="btn btn-default">Edit</a>
    <a href="{{base_path}}/file/{{file.id}}/destroy" class="btn btn-danger">Delete</a>
</div>


<div class="messages-container container-fluid">
    {% for message in file.messages()%}

    <div class="message row">
        <div class="col-sm-2">
            <strong>{{message.author.name}}</strong>
            {{message.submitTime}}
        </div>
        <div class="col-sm-9">
            {{message.body}}
        </div>
        <div class="col-sm-1">
            <a href="{{base_path}}/message/{{message.id}}/edit" class="btn btn-default">Edit</a>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
    {% endfor %}
</div>
<form class="form-horizontal" method="post" action="{{base_path}}/file/{{file.id}}/postmessage">
    <div class="form-group">
        <label for="subject" class="col-sm-2">Message subject</label>
        <input type="text" class="col-sm-10 form-control" name="subject" id="subject" value="{{message.subject}}">
    </div>
    <div class="form-group">
        <label class="col-sm-2" for="body">Message body</label>
        <textarea class="col-sm-10 form-control" name="body" id="body" rows="5">{{message.body}}</textarea>
    </div>
    <div class="col-sm-offset-2">
        <button class="btn btn-primary">Post message</button>
    </div>
</form>
{% endblock %}
