{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <strong>Filename</strong>
        </div>
        <div class="col-sm-9">
            test file
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Size</strong>
        </div>
        <div class="col-sm-9">
            3 kB
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Filetype</strong>
        </div>
        <div class="col-sm-9">
            text/plain
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Uploader</strong>
        </div>
        <div class="col-sm-9">
            test user
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Time submitted</strong>
        </div>
        <div class="col-sm-9">
            1999-12-12 22:00:11
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <strong>Description</strong>
        </div>
        <div class="col-sm-9">
            <p>this is a file</p>
        </div>
    </div>

</div>
{% endblock %}
