{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <strong>Filename</strong>
        </div>
        <div class="col-sm-9">
            <a href="http://ttiira.users.cs.helsinki.fi/files/testfile.txt">test file</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Size</strong>
        </div>
        <div class="col-sm-9">
            3 kB
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Filetype</strong>
        </div>
        <div class="col-sm-9">
            text/plain
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Uploader</strong>
        </div>
        <div class="col-sm-9">
            test user
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <strong>Time submitted</strong>
        </div>
        <div class="col-sm-9">
            1999-12-12 22:00:11
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <strong>Description</strong>
        </div>
        <div class="col-sm-9">
            <p>this is a file</p>
        </div>
    </div>
    <a href="{{base_path}}/editfile/1" class="btn btn-default">Edit</a>
    <button class="btn btn-danger">Delete</button>
</div>


<div class="messages-container container-fluid">
    <div class="message row">

        <div class="col-sm-2">
            <strong>arvostelija</strong>
            1999-12-12 11:22:33
        </div>

        <div class="col-sm-9">
            arvostelen tiedoston 5/5
        </div>
        <div class="col-sm-1">
            <a href="{{base_path}}/editmessage/1" class="btn btn-default">Edit</a>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
    <div class="message row">
        <div class="col-sm-2">
            <strong>kommentoija</strong>
            2037-11-10 21:10:09
        </div>

        <div class="col-sm-9">
            Olen kommentoija. Tämä on kommenttini. Lisäämällä laadukkaita kommentteja parannan web-sivun laatua.
        </div>
        <div class="col-sm-1">
            <a href="{{base_path}}/editmessage/1" class="btn btn-default">Edit</a>
            <button class="btn btn-danger">Delete</button>
        </div>
    </div>
</div>

{% endblock %}