{% extends "base.html" %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th>User name</th>
            <th>Files uploaded</th>
            <th>Messages posted</th>
            <th>Date registered</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td><a href="{{base_path}}/user/{{user.id}}">{{user.name}}</a></td>
            <td>{{user.fileCount()}}</td>
            <td>{{user.messageCount()}}</td>
            <td>{{user.registerTime}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
