{% extends "base.html" %}
{% block content %}
{{dataItem.userDataItem("User name", "#{user.name}")}}
{{dataItem.userDataItem("Time registered", "#{user.prettySubmitTime()}")}}
<div class="row">
    <div class="col-sm-3">
        <strong>Uploaded files</strong>
    </div>
    <div class="col-sm-9">
        {{user.fileCount}} <a href="{{base_path}}/filelist?uploader={{user.name}}">(View)</a>
    </div>
</div>
{% if user.id == user_logged_in.id %}
<a href="{{base_path}}/user/{{user.id}}/manage" class="btn btn-default">Manage account</a>
{% endif %}
{% endblock %}